* {
    margin: 0;
    padding: 0;
  }

  body {
    position: relative;
  }
  
  @font-face {
    font-family: opensans-bold;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: opensans-regular;
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
   
  .header-title,
  .card-news-title,
  .aside-title,
  .card-trend-title,
  .trends-title,
  .goods-title,
  .product-title, 
  .feedback-title {
    text-transform: uppercase;
    font-family: opensans-bold;
  }
  
  .menu-link,
  .trend-title-link {
    color: white;
  }
  
  .news-link,
  .post-link,
  .themes-link,
  .tegs-items-link {
    color: black;
  }
  
  .news-link,
  .post-link,
  .tegs-items-link,
  .themes-link,
  .tegs-link,
  .menu-link, 
  .trend-link,
  .trend-title-link,
  .product-link {
    text-decoration: none;
  }
 
  .header {
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    z-index: 0;
  }
  
  .header::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
  }
  
  .container,
  .content,
  .footer,
  .goods {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .header-box {
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    width: 180px;
    margin-top: 35px;
  }

  .menu-burger {
    width: 25px;
    border: 0;
    outline: none;
    background-color: transparent;
    position: absolute;
  }

  .burger-layer {
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
  }

  .menu-list {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 45px;
  }
  
  .menu-list-item {
    padding-right: 35px;
    list-style-type: none;
    font-size: 15px;
    text-transform: uppercase;
    font-family: opensans-regular;
  }
  
  .menu-list-item:last-child {
    padding-right: 0;
  }
  
  .header-title {
    display: block;
    width: 680px;
    margin: auto;
    font-size: 35px;
    line-height: 1.4;
    padding: 100px 0 150px;
    text-align: center;
    color: white;
  }

  .trends-title, 
  .goods-title {
    box-sizing: border-box;
    margin: 60px 0 40px;
    text-align: center;
    font-size: 20px;
  }

  .card-trend-title {
    font-size: 20px;
    line-height: 1.2;
    font-family: opensans-regular;
  }
  
  .trends {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  .trend {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 24%;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    z-index: 0;
  }

  .trend-interior {
    background-image: url("../images/trend1.jpg"); 
  }

  .trend-food {
    background-image: url("../images/trend2.jpg");
  }

  .trend-travel {
    background-image: url("../images/trend3.jpg");
  }

  .trend-health {
    background-image: url("../images/trend4.jpg");
  }

  .trend::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
  }

  .card-trend {
    border: 3px solid #b59f5b;
    padding: 35px 40px;
    margin: 200px 25px 15px;
  }

  .content {
    display: flex;
  }
  
  .news {
    display: block;
    width: 770px;
    margin-top: 60px;
  }
  
  .card-news {
    display: flex;
    margin-bottom: 55px;
  }
  
  .card-news-img {
    display: block;
    width: 49%;
    padding-right: 30px;
    object-fit: contain;
  }
  
  .card-news-text {
    display: block;
    width: 47%;
  }
  
  .tegs-list, 
  .trend-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  
  .tegs-list-item, 
  .trend-list-item {
    padding-right: 20px;
    list-style-type: none;
    font-size: 10px;
    text-transform: uppercase;
    font-family: opensans-bold;
  }
  
  .card-news-title {
    font-size: 20px;
    margin-bottom: 35px;
  }
  
  .card-news-subtitle {
    display: flex;
    margin-bottom: 50px;
  }
  
  .card-news-date,
  .card-post-date {
    color: #888888;
    font-family: opensans-regular;
  }
  
  .card-news-date,
  .card-news-author {
    font-size: 13px;
  }
  
  .card-news-date {
    margin-bottom: 10px;
  }
  
  .card-news-author {
    padding-left: 10px;
    color: black;
    font-family: opensans-bold;
  }

  .authors {
    text-decoration: none;
    color: black;
  }
  
  .card-news-content {
    font-size: 15px;
    color: black;
    font-family: opensans-regular;
  }
  
  .posts {
    display: block;
    width: 270px;
    margin-left: 135px;
  }
  
  .aside-title {
    box-sizing: border-box;
    margin: 60px 0 40px;
    text-align: center;
    font-size: 13px;
    color: black;
  }
  
  .aside-title::after, 
  .trends-title::after, 
  .goods-title::after, 
  .feedback-title::after {
    content: "";
    display: block;
    margin: 15px auto 0;
    width: 66px;
    height: 3px;
    background: #b09e60;
  }
  
  .card-post {
    display: flex;
    margin-bottom: 20px;
  }
  
  .card-post-img {
    display: block;
    width: 26%;
    padding-right: 15px;
  }
  
  .card-post-header {
    display: block;
    width: 74%;
  }
  
  .card-post-date,
  .card-post-title {
    font-size: 13px;
  }

  .card-post-title {
    text-transform: uppercase;
    font-family: opensans-bold;
  }

  label {
    width: 100%;
  }
    
  .search {
    display: flex;
    margin-top: 60px;
    width: 100%;
  }
  
  .search-text {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background-color: #f3f6f7;
    border: none;
    padding: 0 20px;
    font-size: 15px;
    font-family: opensans-regular;
  }
  
  .form-hint {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  .search-button {
    width: 50px;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-color: #b09e60;
    background-size: 15px;
    background-position: center;
    border: none;
  }
  
  .mailing {
    display: block;
  }
  
  .email {
    box-sizing: border-box;
    height: 45px;
    width: 100%;
    background-color: #f3f6f7;
    border: none;
    padding: 0 20px;
    font-size: 15px;
    font-family: opensans-regular;
  }
  
  .mail-buttom {
    box-sizing: border-box;
    height: 45px;
    width: 100%;
    background-color: #b09e60;
    border: none;
    padding: 0 20px;
    font-size: 15px;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    font-family: opensans-bold;
  }
  
  .tegs-link, 
  .trend-link {
    color: #b09e60;
    font-size: 13px;
  }
  
  .field {
    box-sizing: border-box;
    border: 1px solid #222222;
  }
  
  .field:focus {
    outline: 2px solid #c53b2d;
  }

  .tegs-item,
  .themes-item {
    font-family: opensans-bold;
  }
  
  .tegs-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
  }

  .shop {
    width: 100%;
  }

  .goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product {
    width: 300px;
  }

  .product-img {
    object-fit: contain;
    padding: 0 25px;
    position: relative;
    z-index: 0;
    width: 100%;
  }

  .product-body {
    border: 3px solid #b59f5b;
    padding: 55px 15px 15px;
    width: 100%;
    margin-top: -50px;
    position: relative;
    z-index: 1;
    flex-grow: 1;
  }

  .product-description {
    font-size: 15px;
    font-family: opensans-regular;
  }

  .product-title {
    font-size: 20px;
    margin-top: 15px;
  }

  .product-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }

  .product-prices {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-transform: uppercase;
    font-family: opensans-bold;
  }

  .product-price-old {
    text-decoration: line-through;
  }

  .product-link {
    color: #b59f5b;
  }

  .product-buttom {
    box-sizing: border-box;
    height: 45px;
    width: 140px;
    background-color: #b09e60;
    border: none;
    padding: 0 20px;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    font-family: opensans-bold;
  }

  ._hidden {
    display: none;
  }

  .popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
  }

  .popup-conteiner {
    box-sizing: border-box;
    width: 390px;
    padding: 55px 30px;
    display: flex;
    position: relative;
    background-color: white;
  }

  .feedback-content {
    font-family: opensans-regular;
  }

  .feedback-title {
    text-align: center;
    font-size: 20px;
  }

  .feedback-form-choice, 
  .feedback-mailing, 
  .feedback-comment {
    margin: 30px 0;
  }

  .select {
    box-sizing: border-box;
    height: 45px;
    width: 330px;
    background-color: #f3f6f7;
    border: none;
    padding: 0 20px;
    font-size: 15px;
    margin-top: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../svg/form-arrows.svg");
    background-size: 3%;
    background-repeat: no-repeat;
    background-position: right 5px center;
  }

  .checkbox-mailing {
    margin-top: 15px;
  }

  .option-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
  }

  .option-text {
    margin-left: 10px;
    font-size: 15px;
    font-family: opensans-regular;
  }
  
  .option:checked + .option-text::before {
    background-image: url("../svg/form-circle.svg");
  }

  .option {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
  }

  .comment-textarea {
    box-sizing: border-box;
    min-height: 130px;
    width: 330px;
    background-color: #f3f6f7;
    border: none;
    padding: 0 20px;
    font-size: 15px;
    margin-top: 15px;
  }

  .button-submit {
    box-sizing: border-box;
    height: 45px;
    width: 330px;
    background-color: #b69f5b;
    border: none;
    padding: 0 20px;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    font-family: opensans-bold;
  }

  .feedback-content, 
  .select-item {
    font-size: 15px;
  }

  .popup-close {
    background-image: url("../svg/form-x.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    background-color: transparent;
    border: none;
    position: absolute;
    width: 1.4em;
    height: 1em;
    top: -1.4em;
    right: 0;
  }

  .tegs-items-link {
    display: block;
    border: 2px solid #eeeeee;
    text-decoration: none;
    font-size: 11px;
    padding: 7px 13px;
    margin: 5px;
    text-transform: uppercase;
  }
  
  .themes-list {
    display: block;
    list-style-type: none;
  }
  
  .themes-item {
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  
  .themes-link {
    font-size: 15px;
    display: flex;
  }
  
  .themes-item-number {
    margin-left: 5px;
    vertical-align: top;
    font-size: 10px;
    color: #b09e60;
  }
  
  .articles-socials {
    display: flex;
    margin: auto;
    background-color: #f3f7f6;
    margin: 35px 0 65px;
  }
  
  .socials {
    display: flex;
    width: 215px;
    list-style-type: none;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .social-icon {
    display: flex;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
  }
  
  .social-icon-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  .social-icon-twitter {
    background-image: url("../svg/004-twitter.svg");
  }
  
  .social-icon-pinterest {
    background-image: url("../svg/001-pinterest.svg");
    margin-left: 25px;
  }
  
  .social-icon-facebook {
    background-image: url("../svg/002-facebook-logo.svg");
    margin-left: 25px;
  }
  
  .social-icon-instagram {
    background-image: url("../svg/005-instagram.svg");
    margin-left: 25px;
  }
  .social-icon-tumbler {
    background-image: url("../svg/003-tumblr.svg");
    margin-left: 25px;
  }
  
  .copyright {
    margin-bottom: 55px;
    text-align: center;
  }
  
  .copyrights {
    font-size: 13px;
    color: #959595;
    text-decoration: none;
  }

  .copyrihgt-text {
    font-family: opensans-bold;
  }

  @media (max-width: 640px) {
    .header {
      background-image: url(../images/banner-mobile.jpg);
      display: flex;
      flex-direction: column;
    }
  
    .logo {
      display: block;
      width: 75%;
      outline: none;
      margin: 210px auto 0;
    } 

    .header-title {
      margin: 0 auto;    
      width: 75%;
      font-size: 25px;
    }

    .menu-burger {
      top: 35px;
      right: 15px;
    }
  }

  @media (max-width: 640px) {
    .content {
      box-sizing: border-box;
      width: 100%;
      flex-direction: column;
    }

    .news {
      width: 100%;
    }

    .card-news {
      flex-direction: column;
      padding-bottom: 20px;
      border-bottom: 3px solid #eeeeee; 
    }

    .card-news:last-child {
      margin-bottom: 0;
    }

    .card-news-text {
      margin-top: 15px;
      width: 100%;
    }

    .card-news-img {
      width: 100%;
      padding-right: 0;
    }

    .posts { 
      width: 100%;
      margin-left: 0;
    }  
  }

  @media (max-width: 640px) and (orientation: portrait) {
    .trend {
      width: 100%;
    }

    .trend-interior,
    .trend-food,
    .trend-travel {
      margin-bottom: 3px;
    }

    .card-trend-title {
      font-size: 17px;
    }
  }
  
  @media (max-width: 640px) and (orientation: landscape), 
  (min-width: 641px) and (max-width: 1199px) {
    .trend {
        width: 49%;
        margin-bottom: 2px;
    }

    .card-trend-title {
        font-size: 17px;
    }
  }

  @media (max-width: 640px) {
    .goods {
      flex-direction: column;
      width: 100%;
      box-sizing: border-box;
    }

    .product {
      width: 94%;
    }
  
    .product-pillow, .product-doll {
      margin-bottom: 25px;
    }
  
    .product-title {
      font-size: 17px;
    }
  }

  @media (min-width: 641px) and (max-width: 1199px) {
    .header {
      background-image: url(../images/banner-bg-tablet.jpg);
      display: flex;
    }
  
    .logo {
      width: 160px;
      outline: none;
    } 

    .header-title {
      margin: 0 auto;    
      width: 75%;
      font-size: 40px;
    }

    .menu-burger {
      top: 35px;
      right: 15px;
    }
  }

  @media (min-width: 641px) and (max-width: 1199px) {
    .content {
      box-sizing: border-box;
      width: 100%;
      padding: 0 5%;
    }

    .card-news {
      flex-direction: column;
    }

    .card-news-text {
      margin-top: 15px;
      width: 100%;
    }

    .card-news-img {
      width: 100%;
    }

    .posts { 
      margin-left: 5%;
      width: 40%;
    }
  }

  @media (min-width: 641px) and (max-width: 1199px) {
    .goods {
      flex-wrap: wrap;
    }

    .product {
      width: 45%;
    }

    .product-pillow, .product-doll {
      margin-bottom: 25px;
    }

    .product-doll {
      margin-right: 5%;
    }
  
    .product-title {
      font-size: 17px;
    }
  }

  @media (max-width: 1199px) {
    .menu-list {
        display: none;
    }
  }

  @media (min-width: 1200px) {
    .menu-burger {
        display: none;
    }
  }